h3 {
    color: #191970;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.card {
    margin: 20px 20px;
    /* width: 5rem; */

}

.content {
    margin: 20px 200px;
    
}
.connect {
    margin-top: 10px;
    text-align: center;
    background-color: aliceblue;
    padding: 30px 0 30px 0;
}

h1 {
    color: #191970;
    font-weight: bold;
    font-size: 30px;
}

.connect Button {
    background-color: orange;
}


.ant-btn.button:hover{
    background-color: white;
    color: orange;
    border-color: orange;
}